extends layout

block content
  div.container.mx-auto(id='news')
    div.columns-2.sticky.top-0.bg-stone-900
      h1.text-5xl.italic.text-orange-400 NEWS
      h1.text-right.text-5xl.italic.text-orange-400.font-thin= datestamp
    //- div= articles
    each article in articles
      div.container
        div.headline.text-xl.font-semibold(class='hover:font-bold hover:cursor-pointer')= article.title
        div.summary.hidden.font-light= article.summary
        span.hidden Read more:
        a.link.hidden.m-2(href=article.link, target='_blank') BBC
        a.guardian_link.hidden(href=article.guardian_link, target='_blank') Guardian
  div.sticky.top-0.container.mx-auto(id='sport')
      div.bg-stone-900
        h1.text-5xl.italic.text-blue-400 SPORT
  script(src="/javascripts/main.js")